//// ERROR ////
$error-light: #e57373;
$error: #f44336;
$error-dark: #d32f2f;

//// WARNING ////
$warning-light: #ffb74d;
$warning: #ff9800;
$warning-dark: #f57c00;

//// INFO ////
$info-light: #64b5f6;
$info: #2196f3;
$info-dark: #1976d2;

//// SUCCESS ////
$success-light: #81c784;
$success: #4caf50;
$success-dark: #388e3c;

//// GRAYSCALE ////
$text: #d6d6d6;
$disabled: #9e9e9e;
$background: #03101c;

$paper: #1f1e2d;
$paper-light: #2c2b3b;

$white: #ffffff;
$black: #000000;

$primary: #52ab8b;
$secondary: #f8fbb3;
