@import "src/styles/base.scss";

.login {
    padding: $spacing-l;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: $spacing-m;
    .login__title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: $spacing-m;
        color: $primary;
    }
}
